:root {
	--main-color: #ff9800;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}
.settings-box {
	position: fixed;
	top: 0;
	left: -200px;
	background-color: white;
	width: 200px;
	min-height: 100vh;
	z-index: 1000;
	transition: 0.3s;
	border: 1px solid #eee;
}
.settings-box.open {
	left: 0;
}
.settings-box .icon-ele {
	position: absolute;
	right: -32px;
	top: 100px;
	background-color: white;
	cursor: pointer;
}
.settings-box .icon {
	padding: 8px;
}
.settings-box .option-box {
	padding: 10px;
	text-align: center;
	background-color: #eee;
	margin: 10px;
}
.settings-box .option-box h4 {
	margin: 0;
	color: #666;
	font-size: 14px;
}
.settings-box .option-box .colors-list {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.5;
	display: inline-block;
}
.settings-box .option-box .colors-list li.active {
	opacity: 1;
	border: 2px solid white;
}
.settings-box .option-box .colors-list li:first-child {
	background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
	background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
	background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
	background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
	background-color: #4caf50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
	background-color: var(--main-color);
	color: white;
	padding: 3px 10px;
	width: 50px;
	font-size: 12px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 4px;
	opacity: 0.5;
	cursor: pointer;
}
.settings-box .option-box .active {
	opacity: 1;
}
/* Nav Bullets */
.nav-bullets {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	z-index: 1000;
}
.nav-bullets .bullet {
	width: 20px;
	height: 20px;
	border: 3px solid var(--main-color);
	margin: 20px auto;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}
.nav-bullets .bullet::before {
	content: attr(data-name);
	position: absolute;
	top: -6px;
	left: -125px;
	width: 100px;
	padding: 5px;
	background: var(--main-color);
	text-align: center;
	display: none;
}
.nav-bullets .bullet::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -15px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent var(--main-color);
	display: none;
}
.nav-bullets .bullet:hover::before,
.nav-bullets .bullet:hover::after {
	display: block;
}
/* Nav Bullets */
/* Landing Page */
.landing-page {
	min-height: 100vh;
	background-image: url('../imgs/01.jpg');
	background-size: cover;
	position: relative;
}
.landing-page .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: 1;
}
.landing-page .header {
	color: white;
	z-index: 2;
	position: relative;
	display: flex;
	padding: 10px;
}
.landing-page .header .logo {
	width: 300px;
	padding: 15px;
	font-weight: bold;
}
.landing-page .header ul {
	list-style: none;
	width: 100%;
	text-align: right;
	padding-left: 0;
	padding-right: 20px;
	font-size: 15px;
}
.landing-page .header ul li {
	display: inline-block;
	padding-left: 10px;
}
.landing-page .header ul li a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.landing-page .header ul li a:hover,
.landing-page .header ul li a.active {
	color: var(--main-color);
}
.landing-page .intro-text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
	width: 80%;
}
.landing-page .intro-text h1 {
	font-size: 34px;
	margin-bottom: 10px;
}
.landing-page .intro-text h1 span {
	color: var(--main-color);
}
.landing-page .intro-text p {
	line-height: 1.6;
	font-size: 20px;
	margin: 0;
}
/* Landing Page */
/* About Us */
.about {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
}
.about .info-box {
	flex: 1;
	padding: 30px;
}
.about .info-box h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 10px;
}
.about .info-box p {
	color: #767676;
	line-height: 1.8;
	margin: 0;
}
.about .img-box {
	flex: 1;
	text-align: center;
}
.about .img-box img {
	width: 250px;
}
/* About Us */
/* Our Skills */
.skills {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}
.skills h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 50px;
	text-align: center;
}
.skills .skill-box {
	background-color: white;
	display: flex;
	padding: 15px;
	margin-bottom: 15px;
}
.skills .skill-box .skill-name {
	font-weight: bold;
	width: 140px;
	text-align: center;
	line-height: 30px;
}
.skills .skill-box .skill-prog {
	background-color: #f6f6f6;
	width: 100%;
	height: 30px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
.skills .skill-box .skill-prog span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--main-color);
	transition: all 0.5s;
}
/* Our Skills */
/* Our Galery */
.gallery {
	padding-top: 50px;
	padding-bottom: 50px;
}
.gallery h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 50px;
	text-align: center;
}
.gallery .imgs-box {
	text-align: center;
}
.gallery .imgs-box img {
	width: 200px;
	padding: 3px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 5px;
	cursor: pointer;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	z-index: 1000;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	padding: 20px;
	background-color: white;
	z-index: 1001;
	border: 1px solid #ccc;
	animation: show 0.3s;
}
.popup h3 {
	color: var(--main-color);
	font-weight: bold;
	text-align: center;
	margin: 0 0 20px;
}
.popup img {
	max-width: 100%;
}
.popup .close {
	position: absolute;
	top: -14px;
	right: -15px;
	background-color: var(--main-color);
	padding: 6px 10px;
	border-radius: 50%;
	font-size: 20px;
	color: white;
	cursor: pointer;
}
@keyframes show {
	from {
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}
/* Our Galery */
/* Time Line */
.time-line {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}
.time-line .time-content {
	position: relative;
	overflow: hidden;
}
.time-line .time-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin: -1px;
	width: 2px;
	height: 100%;
	background-color: var(--main-color);
}
.time-line .year {
	margin: 20px auto;
	width: 50px;
	background-color: var(--main-color);
	text-align: center;
	border-radius: 4px;
	color: white;
	z-index: 2;
}
.time-line .left,
.time-line .right {
	width: calc(50% - 25px);
	margin-bottom: 40px;
  position: relative;
}
.time-line .left {
	float: left;
}
.time-line .left::before,
.time-line .right::before {
	content: '';
	position: absolute;
	top: 20px;
	right: -35px;
	width: 14px;
	height: 14px;
	background-color: #eee;
	border: 3px solid var(--main-color);
	border-radius: 50%;
}
.time-line .left::before {
	right: -35px;
}
.time-line .right::before {
	left: -35px;
}
.time-line .right {
	float: right;
}
.time-line .content{
	padding: 20px;
	background-color: white;
}
.time-line .content h3{
	font-weight: bold;
	color: var(--main-color);
	margin: 0 0 10px;
}
.time-line .content p{
	color: #666;
	margin: 0;
	line-height: 1.6;
}
.clearfix {
	clear: both;
}
.time-line .left .content::before,
.time-line .right .content::before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
}
.time-line .left .content::before {
	border-color: transparent transparent transparent white;
	right: -20px;
}
.time-line .right .content::before {
	border-color: transparent white transparent transparent;
	left: -20px;
}
/* Time Line */
/* Features */
.features {
	padding-top: 80px;
	padding-bottom: 80px;
}
.features h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 50px;
	text-align: center;
}
.features .feat-box {
	width: calc(100% / 3);
	float: left;
	text-align: center;
	margin-bottom: 40px;
}
.features .feat-box img {
	width: 100px;
}
.features .feat-box h4 {
	font-size: 22px;
	margin: 14px 0 40px;
	position: relative;
}
.features .feat-box h4::before {
	content: '';
	width: 40px;
	height: 4px;
	background-color: var(--main-color);
	position: absolute;
	bottom: -20px;
	left: calc(50% - 20px);
}
.features .feat-box p {
	width: 80%;
	margin: 0 auto;
	color: #777;
	line-height: 1.7;
}
/* Features */
/* Testimoials */
.testimonials {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--main-color);
}
.testimonials h2 {
	color: white;
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 50px;
	text-align: center;
}
.testimonials .container {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.testimonials .container .ts-box{
	background-color: white;
	padding: 20px;
	width: calc(100% / 3);
}
.testimonials .ts-box > p {
	font-size: 18px;
	font-style: italic;
	color: #333;
	margin: 0 0 15px;
	line-height: 15.;
}
.testimonials .ts-box .person-info {
	overflow: hidden;
}
.testimonials .ts-box .person-info img {
	float: left;
	border-radius: 50%;
	margin-right: 20px;
}
.testimonials .ts-box .person-info h4 {
	margin: 12px 0 10px;
}
.testimonials .ts-box .person-info p {
	margin: 0;
	color: #777;
}
/* Testimoials */