:root {
  --main-color: #FF9800;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/* Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url('../imgs/01.jpg');
  background-size: cover;
  position: relative;
}
.landing-page .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
}
.landing-page .header {
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 10px;
}
.landing-page .header .logo{
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.landing-page .header ul{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}
.landing-page .header ul li{
  display: inline-block;
  padding-left: 10px;
}
.landing-page .header ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.landing-page .header ul li a:hover,
.landing-page .header ul li a.active {
  color: var(--main-color);
}
.landing-page .intro-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 2;
}
.landing-page .intro-text h1{
  font-size: 34px;
  margin-bottom: 10px;
}
.landing-page .intro-text h1 span{
  color: var(--main-color);
}
.landing-page .intro-text p{
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* Landing Page */