:root {
	--main-color: #ff9800;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}
.settings-box {
	position: fixed;
	top: 0;
	left: -200px;
	background-color: white;
	width: 200px;
	min-height: 100vh;
	z-index: 1000;
	transition: 0.3s;
}
.settings-box.open {
	left: 0;
}
.settings-box .icon-ele {
	position: absolute;
	right: -32px;
	top: 100px;
	background-color: white;
	cursor: pointer;
}
.settings-box .icon {
	padding: 8px;
}
.settings-box .option-box {
	padding: 10px;
	text-align: center;
	background-color: #eee;
	margin: 10px;
}
.settings-box .option-box h4 {
	margin: 0;
	color: #666;
	font-size: 14px;
}
.settings-box .option-box .colors-list {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.5;
	display: inline-block;
}
.settings-box .option-box .colors-list li.active {
	opacity: 1;
	border: 2px solid white;
}
.settings-box .option-box .colors-list li:first-child {
	background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
	background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
	background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
	background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
	background-color: #4caf50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
	background-color: var(--main-color);
	color: white;
	padding: 3px 10px;
	width: 50px;
	font-size: 12px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 4px;
	opacity: 0.5;
	cursor: pointer;
}
.settings-box .random-backgrounds .active {
	opacity: 1;
}
/* Landing Page */
.landing-page {
	min-height: 100vh;
	background-image: url('../imgs/01.jpg');
	background-size: cover;
	position: relative;
}
.landing-page .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: 1;
}
.landing-page .header {
	color: white;
	z-index: 2;
	position: relative;
	display: flex;
	padding: 10px;
}
.landing-page .header .logo {
	width: 300px;
	padding: 15px;
	font-weight: bold;
}
.landing-page .header ul {
	list-style: none;
	width: 100%;
	text-align: right;
	padding-left: 0;
	padding-right: 20px;
	font-size: 15px;
}
.landing-page .header ul li {
	display: inline-block;
	padding-left: 10px;
}
.landing-page .header ul li a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.landing-page .header ul li a:hover,
.landing-page .header ul li a.active {
	color: var(--main-color);
}
.landing-page .intro-text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
	width: 80%;
}
.landing-page .intro-text h1 {
	font-size: 34px;
	margin-bottom: 10px;
}
.landing-page .intro-text h1 span {
	color: var(--main-color);
}
.landing-page .intro-text p {
	line-height: 1.6;
	font-size: 20px;
	margin: 0;
}
/* Landing Page */
/* About Us */
.about {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
}
.about .info-box {
	flex: 1;
	padding: 30px;
}
.about .info-box h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 10px;
}
.about .info-box p {
	color: #767676;
	line-height: 1.8;
	margin: 0;
}
.about .img-box {
	flex: 1;
	text-align: center;
}
.about .img-box img {
	width: 250px;
}
/* About Us */
/* Our Skills */
.skills {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eee;
}
.skills h2 {
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 50px;
	text-align: center;
}
.skills .skill-box {
	background-color: white;
	display: flex;
	padding: 15px;
	margin-bottom: 15px;
}
.skills .skill-box .skill-name {
	font-weight: bold;
	width: 140px;
	text-align: center;
	line-height: 30px;
}
.skills .skill-box .skill-prog {
	background-color: #f6f6f6;
	width: 100%;
	height: 30px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
.skills .skill-box .skill-prog span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--main-color);
  transition: all .5s;
}
/* Our Skills */
