:root {
  --main-color: #FF9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  background-color: white;
  width: 200px;
  min-height: 100vh;
  z-index: 1000;
  transition: .3s;
}
.settings-box.open {
  left: 0;
}
.settings-box .icon-ele {
  position: absolute;
  right: -32px;
  top: 100px;
  background-color: white;
  cursor: pointer;
}
.settings-box .icon {
  padding: 8px;
}
.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
  display: inline-block;
}
.settings-box .option-box .colors-list li.active {
  opacity: 1;
  border: 2px solid white;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03A9F4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4CAF50;
}
/* Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url('../imgs/01.jpg');
  background-size: cover;
  position: relative;
}
.landing-page .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
}
.landing-page .header {
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 10px;
}
.landing-page .header .logo{
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.landing-page .header ul{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}
.landing-page .header ul li{
  display: inline-block;
  padding-left: 10px;
}
.landing-page .header ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.landing-page .header ul li a:hover,
.landing-page .header ul li a.active {
  color: var(--main-color);
}
.landing-page .intro-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 2;
  width: 80%;
}
.landing-page .intro-text h1{
  font-size: 34px;
  margin-bottom: 10px;
}
.landing-page .intro-text h1 span{
  color: var(--main-color);
}
.landing-page .intro-text p{
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* Landing Page */